<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>login</title>
    <link rel="stylesheet" href="/estatico/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/estatico/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/estatico/assets/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="/estatico/assets/css/gradient-navbar.css">
    <link rel="stylesheet" href="/estatico/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md text-center" id="app-navbar" style="margin: 5px;padding: 5px;">
        <div class="container-fluid"><a class="navbar-brand" href="#"><i class="icon ion-ios-infinite" id="brand-logo"></i></a></div>
    </nav>
    <div class="contenedorPrimario">
        <div class="modal fade centro" role="dialog" tabindex="-1" id="modalRegister">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title txtsGrises">REGISTER </h6><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <h2 class="titulos">Register form: </h2>
                        <p class="text-left margenesEspacio">Write your information to be part of our community and have access to the system. </p>
                        <div class="col padMar"><input type="text" class="margenesEspacio inputLargo" placeholder="Name"><input type="text" class="margenesEspacio inputLargo" placeholder="Lastname"><input type="text" class="margenesEspacio inputLargo" placeholder="Email ">
                            <input
                                type="password" class="margenesEspacio inputLargo" placeholder="Create a password"><input type="password" class="margenesEspacio inputLargo" placeholder="Confirm your password"><input type="tel" class="margenesEspacio inputLargo" placeholder="Mobile phone"></div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-primary btn-Oscuro" type="button">REGISTER </button></div>
                </div>
            </div>
        </div>
        <div class="modal fade centro" role="dialog" tabindex="-1" id="modalForgot">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title txtsGrises">REMEMBER PASSWORD </h6><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <h2 class="titulos">Create a new password: </h2>
                        <div class="col padMar"><input type="text" class="margenesEspacio inputLargo" placeholder="Email "></div>
                        <p class="text-center margenesEspacio">The system will validate and send an email to the registered account to generate a new password. </p>
                    </div>
                    <div class="modal-footer"><button class="btn btn-primary btn-Oscuro" type="button">SEND </button></div>
                </div>
            </div>
        </div>
        <h1 class="padMar headerOmolds text-center"> </h1>
        <div class="row padMar margenesArriba10porCiento">
            <div class="col-11 col-sm-7 col-md-5 col-lg-4 col-xl-3 text-center padMar mx-auto d-block colorCajasBlancas paddingCompleto15px" style="margin: 5px;padding: 5px;">
                <h1>Login</h1>
                <hr><input type="email" class="margenesEspacio inputLargo" placeholder="Email"><input type="password" class="margenesEspacio inputLargo" placeholder="Password">
                <p class="margenesTxts"><a data-toggle="modal" data-target="#modalForgot" href="#" style="margin: 5px;padding: 5px;">Esqueci minha senha</a></p>
                <p class="margenesTxts"><a data-toggle="modal" data-target="#modalRegister" href="#" style="margin: 5px;padding: 5px;">Não tenho acesso ainda!</a></p><button class="btn btn-primary mx-auto d-block" type="button">ENTER </button></div>
        </div>
        <footer class="footerOmoldsOscuro"></footer>
    </div>
    <script src="/estatico/assets/js/jquery.min.js"></script>
    <script src="/estatico/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>